@model GameCafe.Storage.Entity.Review

@{
    ViewData["Title"] = "Добавление комментария";
}

<form asp-action="Create" style="width:80%;margin-top:5%;margin-left:10%;">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Автор</label>
        <input asp-for="Author" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Айзек Азимов" name="Author">

    </div>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Название</label>
        <input asp-for="Text" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Основание" name="Text">
    </div>

    

    
    <button class="btn btn-primary" value="Create" type="submit">Добавить книгу</button>
</form>
@*@{
    foreach (var item in Model.Text)
    {
        @Model.Text
    } }*@


