@model IList<GameCafe.Storage.Entity.Review>


<body class="shared_design">
    <img style="margin-bottom:64px;width:500px;
    display: block;
    margin-left: auto;
    margin-right: auto;"
         class="inLogo"
         src="img/splashes/review.png">
    <div class="wrap">
        @{

            foreach (var item in Model)
            {
                <div class="element-animation">
                    <div class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="card-text">@item.Text</div>
                            <div class="card-author">@item.Author</div>
                            <div class="card-date">@item.Date</div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</body>