@{
    ViewData["Title"] = "GeekRoad";
}
<body class="homebody">

<div class="wrap">
 

  <div class="element-animation">
    <img class="inLogo" src="/img/geekstate.png"/>
  </div>

  <div class="element-animation">
        <div class="head_text">
             <span>Лучшие анти-кафе в Москве!</span>
        </div>
  </div>
    <div class="element-animation">
        <div class="head_text" style="margin-top:64px">
             <span>Тарифы</span>
        </div>
  </div>

  <div class="element-animation">
              <div class="card" style="width: 100%;">
                  <img src="https://picsum.photos/1500/500" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Название тарифа</h5>
                    <p class="card-text">Описание</p>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Цена</li>
                    <li class="list-group-item">Продолжительность</li>
                    <li class="list-group-item">Время суток</li>
                    <li class="list-group-item">Доступ к закускам</li>
                    <li class="list-group-item">Доступ к напиткам</li>
                    <li class="list-group-item">Доступ к алкогольным напиткам</li>
                  </ul>
              </div>
  </div>
    <div class="element-animation">
        <div class="card mb-3" style="width: 100%;margin-top:500px">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="img/homepage/games.jpg" style="height:400px;width:400px" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Игры</h5>
                <p class="card-text">Самые мощные компьютеры и консоли для самых требовательных игр!</p>
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" Cус>
                    </a>
              </div>
            </div>
          </div>
        </div>
  </div>
    <div class="element-animation">
       <div class="element-big" style="background-color: red"></div>
  </div>
    <div class="element-animation">
       <div class="element-big" style="background-color: red"></div>
  </div>


</div>

</body>